- When importing components, please prefer using ts alias paths (check tsconfig.json)
- we use yarn as package manager
- we use tailwindcss for styling
- Promote Single Responsibility Principle, DRY, KISS principles.
- Prefix interfaces with I
- Use cursor running command tools when needed.
- Dont dump a lot of code into a single, favor small components in separate files to promote SRP

## CRITICAL RULES

- Stop asking to do changes. DO IT, I trust you. I'll review later.
- When uncertain about how something works, call Context7 tool, which will pull related docs.
- Favor named exports over default exports.
